.button {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  min-width: 80px;
  min-height: 30px;
  padding: 0 10px;
  margin: 10px;
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: 0.5s;
}

.button:hover {
  color: #d60808;
}
