.header_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
 }
.header {
	width: 100%;
	height: 110px;
	background-color: rgb(78, 77, 77);
 }

.cart{
	width: 40px;
}
.favorite{
	width: 40px;
}
span{
	color: white;

}
.icon{
	padding-top: 3px;
}